<h2>Reactive Form</h2>

<input type="text" [formControl]="myCtrl">

<div class="form-group">
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div>
        Username: <input type="text" formControlName="username">
    </div>
    <div *ngIf="myForm.get('username')?.errors">
      {{myForm.get('username')?.errors | json}}
    </div>
    <div>
      Password: <input type="password" formControlName="password">
    </div>
    <div formGroupName="profile">
        <div>
          Email: <input type="email" formControlName="email">
        </div>
        <div>
          Address: <input type="text" formControlName="address">
        </div>
    </div>
    <button>Login</button>
  </form>
</div>